@model WorkForYou.WebUI.ViewModels.Forms.RefreshEmployerInfoViewModel

@{
    ViewData["Title"] = "";
}

<div class="create-form">
    <div class="create-form__header">
        <h1>Змінити детальну інформацію</h1>
        <a asp-controller="Account" asp-action="RefreshGeneralProfileInfo"
           class="search-buttons detail-button">
            Загальна інформація
        </a>
        <a asp-controller="CandidateAccount" asp-action="RefreshCandidateInfo"
           class="search-buttons detail-button">
            Детальна інформація
        </a>
    </div>
    <form method="post" asp-controller="EmployerAccount" asp-action="RefreshEmployerInfo" asp-antiforgery="true">
        <div asp-validation-summary="All"></div>
        <div class="create-form__item">
            <label asp-for="CompanyPosition"></label>
            <input asp-for="CompanyPosition" placeholder="C# developer">
            <span asp-validation-for="CompanyPosition"></span>
        </div>
        <div class="create-form__item">
            <label asp-for="CompanyName"></label>
            <input asp-for="CompanyName">
            <span asp-validation-for="CompanyName"></span>
        </div>
        <div class="create-form__item">
            <label asp-for="CompanySiteLink"></label>
            <input asp-for="CompanySiteLink">
            <span asp-validation-for="CompanySiteLink"></span>
        </div>
        <div class="create-form__item">
            <label asp-for="DoyCompanyLink"></label>
            <input asp-for="DoyCompanyLink">
            <span asp-validation-for="DoyCompanyLink"></span>
        </div>
        <div class="create-form__item">
            <label asp-for="AboutCompany"></label>
            <textarea asp-for="AboutCompany"></textarea>
            <span asp-validation-for="AboutCompany"></span>
        </div>
        <div class="vacancies-cards__card-buttons">
            <input type="submit" class="search-buttons card-buttons" value="Редагувати">
        </div>
    </form>

    <form method="post" asp-controller="Account" asp-action="ProfileUploadImage" asp-antiforgery="true"
          enctype="multipart/form-data">
        <input type="file" name="UserFile">
        <input type="submit">
    </form>
</div>
