@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WorkForYou.WebUI.ViewModels.Forms.ChangePasswordViewModel

@{
    ViewData["Title"] = "Зміна паролю";
}

<div class="create-form">
    <form method="post" asp-controller="Account" asp-action="ChangePassword" asp-antiforgery="true" autocomplete="off">
        <div asp-validation-summary="All"></div>
        <input type="hidden" value="@User.Identity?.Name">
        <input type="hidden" asp-for="Email" value="@ViewData["CurrentEmail"]">
        <div class="create-form__item">
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword">
            <span asp-validation-for="OldPassword"></span>
        </div>
        <div class="create-form__item">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword">
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="create-form__item">
            <label asp-for="ConfirmNewPassword"></label>
            <input asp-for="ConfirmNewPassword">
            <span asp-validation-for="ConfirmNewPassword"></span>
        </div>
        <div class="vacancies-cards__card-buttons">
            <input type="submit" class="search-buttons card-buttons" value="Change">
        </div>
    </form>
</div>