@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Зміна паролю";
}

<form method="post" asp-controller="Account" asp-action="ChangePassword" asp-antiforgery="true" autocomplete="off">
    <div asp-validation-summary="All"></div>
    <input type="hidden" value="@User.Identity?.Name">
    <input type="hidden" asp-for="Email" value="@ViewData["CurrentEmail"]">
    <div>
        <label asp-for="OldPassword"></label>
        <input asp-for="OldPassword">
        <span asp-validation-for="OldPassword"></span>
    </div>
    
    <div>
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword">
        <span asp-validation-for="NewPassword"></span>
    </div>
    
    <div>
        <label asp-for="ConfirmNewPassword"></label>
        <input asp-for="ConfirmNewPassword">
        <span asp-validation-for="ConfirmNewPassword"></span>
    </div>
    
    <input type="submit" value="Change">
</form>
