$primary-color: #695aa6;
$text-affix-color: #6c757d;

$form-primary-color--faded: rgba($primary-color, .25);

$checkbox-bg-color: #EBEBEB;
$checkbox-bd-color: #BFBFBF;
$checkbox-checked-bd-color: darken($primary-color, 5%);

$auth-icon-color: #7f7f85;

$white-color: #fff;
$black-color: #000;

$moon-color: #5c3191;
$bird-wing-right-color: #b8a5d1;
$bird-wing-left-color: #7979a8;

$color-light: #ff6e6f;

$form-primary-color: #695aa6;
$form-primary-color--faded: rgba($form-primary-color, .25);
$checkbox-bg-color: #EBEBEB;
$checkbox-bd-color: #BFBFBF;
$checkbox-checked-bd-color: darken($form-primary-color, 5%);