<footer class="footer">
    <div class="container text-center">
        <p class="mb-0">
            © Copyright 2023. All rights reversed by
            <a href="https://github.com/saibel203/workForYou"
               target="_blank">
                Saibel203
            </a>
        </p>
        <ul class="footer__social-links mb-0">
            <li>
                <a href="https://t.me/saibel203" target="_blank">
                    <i class="fa-brands fa-telegram"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/saibel203/workForYou" target="_blank">
                    <i
                        class="fa-brands fa-github">
                    </i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/%D0%BC%D0%B0%D0%BA%D1%81%D0%B8%D0%BC-%D0%BB%D0%BE%D0%B3%D0%B2%D1%96%D0%BD-335a03254/"
                   target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/saibel.og/" target="_blank">
                    <i
                        class="fa-brands fa-instagram">
                    </i>
                </a>
            </li>
        </ul>
    </div>
</footer>