<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico">
    <link rel="stylesheet" href="~/css/main.css">
    @await RenderSectionAsync("Styles", required: false)
    <title>@ViewData["Title"]</title>
</head>
<body>
    @await Html.PartialAsync("_MainHeader")

    <div class="wrapper">
        <main class="main">
            @RenderBody()
        </main>
    </div>
    
    <script src="https://kit.fontawesome.com/0172dea2c0.js" crossorigin="anonymous"></script>
    <script src="~/libs/js/jquery.min.js"></script>
    <script src="~/libs/js/bootstrap-affix.min.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>