@model VacanciesViewModel

<div class="search">
    <form method="get" asp-controller="@Model.CurrentController" asp-action="AllVacancies">
        <div class="search__bar">
            <input type="hidden" name="PageNumber" value="@Model.PageNumber">
            <input type="search" name="SearchString" class="search-box" placeholder="Введіть назву" value="@Model.SearchString">
        </div>
        <button class="search__button" type="submit">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </form>
</div>