@model ContactUsViewModel

@{
    ViewData["Title"] = "Головна сторінка";
}

<header class="header" style="background-image: url('img/homePage/header.jpg')">
    <div class="header__overlay"></div>
    <div class="header__content container text-center">
        <h1 class="header__content-title">
            <span>Сайт для пошуку <span>роботи</span> в Україні</span>
        </h1>

        <a asp-controller="Auth" asp-action="Register">
            <button class="button button-primary text-center">Шукати</button>
        </a>

        <h2 class="mt-3">для <span class="auto-type"></span></h2>
    </div>
</header>

<section class="section about-section pt-0">
    <div class="container text-center">
        <div class="about">
            <div class="about__img-holder">
                <img src="img/homePage/about-us.png"
                     class="about-image" alt="about-us image">
            </div>
            <div class="about__content">
                <h2 class="section-title mb-3">Про сайт</h2>
                <p>
                    Користувач заповнює профайл, вказуючи свою посаду,
                    очікувану зарплату, рівень англійської, описує досвід,
                    обирає категорію.
                </p>
                <p>
                    Компанія пропонує різні вакансії, на які користувач може
                    відреагувати, i можливо, з вами зв'яжуться.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section form-section">
    <div class="container text-center">
        <h2 class="section-title mb-5">Зв'язатися з нами</h2>
        <form method="post" asp-controller="Home" asp-action="Index" asp-antiforgery="true" autocomplete="off"
              class="contact-form">
            <div asp-validation-summary="All"></div>
            <div class="contact-form__input">
                <input asp-for="Email" placeholder="Email" class="contact-form__input-item" required>
            </div>
            <div class="contact-form__input">
                <input asp-for="Subject" placeholder="Subject" class="contact-form__input-item" required>
            </div>
            <div class="contact-form__input">
                <textarea asp-for="Message" placeholder="Message" class="contact-form__input-item" required></textarea>
            </div>
            <div class="contact-form__btn">
                <button class="button button-primary text-center">
                    <i class="fa-regular fa-paper-plane"></i>
                    Відправити
                </button>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    <script src="~/libs/js/typed.js"></script>
    <script src="~/js/home-typed.js"></script>
}