@model WorkForYou.Core.Models.IdentityInheritance.ApplicationUser

<ul class="footer__social-links profile-links mb-0">
    @if (!string.IsNullOrEmpty(Model.TelegramLink))
    {
        <li class="profile-links__item">
            <a href="@Model.TelegramLink" target="_blank">
                <i class="fa-brands fa-telegram"></i>
            </a>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.SkypeLink))
    {
        <li class="profile-links__item">
            <a href="@Model.SkypeLink" target="_blank">
                <i class="fa-brands fa-skype"></i>
            </a>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.LinkedInLink))
    {
        <li class="profile-links__item">
            <a href="@Model.LinkedInLink"
               target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>
    }
    @if (!string.IsNullOrEmpty(Model.GithubLink))
    {
        <li class="profile-links__item">
            <a href="@Model.GithubLink" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
    }
</ul>