@import '../utils/_colors';

.footer {
  display: flex;
  min-height: 80px;
  font-size: 1.2rem;
  background-color: #c7c7c791;

  .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social-links {
    list-style: none;
    display: flex;
    font-size: 1.5rem;

    li {
      padding-right: 3rem;

      &:last-child {
        padding-right: 0;
      }

      a {
        background-color: #fff;
        display: flex;
        width: 50px;
        min-height: 50px;
        border-radius: 25px;
        line-height: 25px;
        justify-content: center;
        align-items: center;
        transition: all .2s ease;

        &:hover {
          background-color: $primary-color;
          color: #fff;
        }

      }
    }
  }
}