@{
    ViewData["Title"] = "Головна сторінка";
}

<h1>This is main page for authorize users</h1>

<a asp-controller="Account" asp-action="Logout">Logout</a>
<a asp-controller="Account" asp-action="ChangePassword">Change password</a>