@keyframes rotate {
  0%, 100% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

@keyframes snore {
  0%, 100% {
    transform: scale(1) rotate(30deg);
  }
  50% {
    transform: scale(0.5) rotate(30deg);
    border-bottom-left-radius: 50%;
  }
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
}

@keyframes wingLeft {
  0%, 100% {
    transform: translate3d(0, 0, 0) rotateX(-50deg);
  }
  50% {
    transform: translate3d(0, -20px, 0) rotateX(-130deg);
    background: linear-gradient(to bottom, #d9d3e2 0%, #b8a5d1 100%);
  }
}

@keyframes wingLeftTop {
  0%, 100% {
    transform: translate3d(0, 0, 0) rotateX(-10deg);
  }
  50% {
    transform: translate3d(0px, 0px, 0) rotateX(-40deg);
    border-bottom: 20px solid #b8a5d1;
  }
}

@keyframes wingRight {
  0%, 100% {
    transform: translate3d(0, 0, 0) rotateX(50deg);
  }
  50% {
    transform: translate3d(0, -20px, 0) rotateX(130deg);
    background: linear-gradient(to bottom, #a58dc4 0%, #7979a8 100%);
  }
}

@keyframes wingRightTop {
  0%, 100% {
    transform: translate3d(0, 0, 0) rotateX(10deg);
  }
  50% {
    transform: translate3d(0px, 0px, 0px) rotateX(40deg);
    border-bottom: 20px solid #7979a8;
  }
}

@keyframes bird1 {
  0% {
    transform: translate3d(-120vw, -20px, -1000px) rotateY(-40deg) rotateX(0deg);
  }
  100% {
    transform: translate3d(100vw, -40vh, 1000px) rotateY(-40deg) rotateX(0deg);
  }
}

@keyframes bird2 {
  0%,
  15% {
    transform: translate3d(100vw, -300px, -1000px) rotateY(10deg) rotateX(0deg);
  }
  100% {
    transform: translate3d(-100vw, -20px, -1000px) rotateY(10deg) rotateX(0deg);
  }
}

@keyframes bird3 {
  0% {
    transform: translate3d(100vw, -50vh, 100px) rotateY(-5deg) rotateX(-20deg);
  }
  100% {
    transform: translate3d(-100vw, -10vh, 100px) rotateY(-5deg) rotateX(-20deg);
  }
}

@keyframes bird4 {
  0% {
    transform: translate3d(100vw, 30vh, 200px) rotateY(-5deg) rotateX(10deg);
  }
  100% {
    transform: translate3d(-100vw, -30vh, 200px) rotateY(-5deg) rotateX(10deg);
  }
}

@keyframes bird5 {
  0%,
  5% {
    transform: translate3d(100vw, 30vh, 400px) rotateY(-15deg) rotateX(-10deg);
  }
  100% {
    transform: translate3d(-100vw, 10vh, 400px) rotateY(-15deg) rotateX(-10deg);
  }
}

@keyframes bird6 {
  0%, 10% {
    transform: translate3d(-100vw, 20vh, -500px) rotateY(15deg) rotateX(10deg)
  }
  100% {
    transform: translate3d(100vw, 40vh, -800px) rotateY(5deg) rotateX(10deg)
  }
}