.dark-mode {
  --body-bg-color: #1d1d1d;
  --theme-bg-color: #13131a;
  --header-bg-color: #1c1c24;
  --alert-bg-color: #292932;
  --body-color: #fff;
  --active-color: #45405a;
  --inactive-color: #292932;
  --time-button: #fff;
  --level-button: #fff;
  --active-light-color: #45405a;
  --border-color: #26262f;
  --search-border-color: #26262f;
  --danger-btn-color: rgb(52, 25, 25);
}

.dark-mode {
  .header__settings-switcher svg {
    fill: #ffce45;
    stroke: #ffce45;
  }

  .vacancies-cards__card svg {
    box-shadow: none;
  }

  .detail-button {
    background-color: var(--inactive-color);
    color: var(--subtitle-color);
  }

  .input {
    color: var(--placeholder-color);
  }
}