:root {
  --body-bg-color: #e5ecef;
  --theme-bg-color: #f2f2f3;
  --body-font: "Open Sans", sans-serif;
  --body-color: #2f2f33;
  --active-color: #695aa6;
  --active-light-color: #e1ebfb;
  --header-bg-color: #fff;
  --search-border-color: #efefef;
  --border-color: #d8d8d8;
  --alert-bg-color: #e8f2ff;
  --subtitle-color: #83838e;
  --inactive-color: #f0f0f0;
  --placeholder-color: #9b9ba5;
  --time-button: #fc5757;
  --level-button: #5052d5;
  --button-color: #fff;
  --active-checked-color: #695aa628;
  --text-valication-color: #ff1c00ad;
  --danger-btn-color: rgb(255, 51, 51);
}