@model IEnumerable<WorkForYou.Core.Models.Vacancy>

@{
    ViewData["Title"] = "";
}

<h1>Favourite list</h1>

@foreach (var vacancy in Model)
{
    <hr>
    <div>
        <h2>@vacancy.VacancyTitle</h2>
        <small>@vacancy.ShortDescription</small>
        <p>@vacancy.LongDescription</p>
        <a asp-controller="Vacancy" asp-action="VacancyDetails" asp-route-id="@vacancy.VacancyId">Read all</a>
        <a href="">AddToFavourite</a>
    </div>
    <hr>
}