:root {
  --body-bg-color: #e5ecef;
  --theme-bg-color: #f2f2f3;
  --body-font: "Open Sans", sans-serif;
  --body-color: #2f2f33;
  --active-color: #695aa6;
  --active-light-color: #e1ebfb;
  --header-bg-color: #fff;
  --search-border-color: #efefef;
  --border-color: #d8d8d8;
  --alert-bg-color: #e8f2ff;
  --subtitle-color: #83838e;
  --inactive-color: #f0f0f0;
  --placeholder-color: #9b9ba5;
  --time-button: #fc5757;
  --level-button: #5052d5;
  --button-color: #fff;
  --active-checked-color: #695aa628;
  --text-valication-color: #ff1c00ad;
  --danger-btn-color: rgb(255, 51, 51);
}

.dark-mode {
  --body-bg-color: #1d1d1d;
  --theme-bg-color: #13131a;
  --header-bg-color: #1c1c24;
  --alert-bg-color: #292932;
  --body-color: #fff;
  --active-color: #45405a;
  --inactive-color: #292932;
  --time-button: #fff;
  --level-button: #fff;
  --active-light-color: #45405a;
  --border-color: #26262f;
  --search-border-color: #26262f;
  --danger-btn-color: rgb(52, 25, 25);
}

/*****************************************************************************/
/*--------------------------------- Global ----------------------------------*/
/*****************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

input,
::placeholder {
  color: var(--placeholder-color);
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--theme-bg-color);
  font-family: var(--body-font);
  font-size: 15px;
  color: var(--body-color);
}

.three-dot {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

/*****************************************************************************/
/*------------------------------ Common styles ------------------------------*/
/*****************************************************************************/
.search-buttons {
  border: none;
  color: var(--button-color);
  background-color: var(--active-color);
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 14px;
  transition: all 0.2s ease;
}
.search-buttons:hover {
  background-color: rgba(105, 90, 166, 0.5);
}

.detail-button {
  background-color: var(--active-checked-color);
  color: var(--active-color);
  font-size: 14px;
  font-weight: 500;
  padding: 6px 8px;
  border-radius: 4px;
  margin-right: 4px;
  transition: all 0.2s ease;
}

.detail-danger {
  background-color: #e05e5e;
  color: #fff;
  transition: all 0.2s ease;
}
.detail-danger:hover {
  background-color: rgba(255, 51, 51, 0.5) !important;
}

.card-buttons,
.card-buttons-msg {
  padding: 10px;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
}

.card-buttons {
  margin-right: 12px;
}
.card-buttons-msg {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
}

/*****************************************************************************/
/*-------------------------------- Dark mode --------------------------------*/
/*****************************************************************************/
.dark-mode .header__settings-switcher svg {
  fill: #ffce45;
  stroke: #ffce45;
}
.dark-mode .vacancies-cards__card svg {
  box-shadow: none;
}
.dark-mode .detail-button {
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
}
.dark-mode input {
  color: var(--placeholder-color);
}

/*****************************************************************************/
/*------------------------------ Header, navbar -----------------------------*/
/*****************************************************************************/
.header {
  position: relative;
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s;
  flex-shrink: 0;
  padding: 0 40px;
  white-space: nowrap;
  background-color: var(--header-bg-color);
  height: 60px;
  width: 100%;
  font-size: 14px;
  justify-content: space-between;
}
.header__logo a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  color: var(--body-color);
}
.header__logo a img {
  width: 24px;
  margin-right: 12px;
}
.header__menu a {
  text-decoration: none;
  color: var(--body-color);
  font-weight: 500;
  font-size: 16px;
  transition: color 0.2s ease;
}
.header__menu a:hover {
  color: var(--active-color);
}
.header__menu a:not(:first-child) {
  margin-left: 30px;
}
.header__menu a.active {
  color: var(--active-color);
}
.header__settings {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.header__settings svg {
  width: 20px;
  color: #94949f;
}
.header__settings-switcher {
  display: flex;
}
.header__settings-switcher svg {
  width: 22px;
  cursor: pointer;
  fill: transparent;
  transition: 0.5s;
  margin-right: 15px;
  position: relative;
}
.header__settings-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.header__settings-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header__settings-name {
  font-size: 16px;
  color: var(--body-color);
}
.header__settings-name .profile-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--theme-bg-color);
  min-width: 200px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.header__settings-name .profile-dropdown .check-language {
  display: flex;
  align-items: end;
}
.header__settings-name .profile-dropdown .check-language i {
  align-self: center;
  margin-right: 4px;
  padding-top: 1px;
}
.header__settings-name .profile-dropdown a, .header__settings-name .profile-dropdown button {
  font-family: var(--font-family-monospace);
  color: var(--body-color) !important;
  font-size: 14px !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.1s ease;
}
.header__settings-name .profile-dropdown a:hover, .header__settings-name .profile-dropdown button:hover {
  background: var(--header-bg-color);
}
.header__settings-name .profile-dropdown a i, .header__settings-name .profile-dropdown button i {
  padding-right: 5px;
}
.header__settings-name .profile-dropdown.show {
  display: block;
}
.header__settings-name form {
  display: flex;
  align-items: center;
}
.header__settings-name button {
  border: none;
  cursor: pointer;
  display: inline-block;
  color: red;
  font-weight: 500 !important;
  width: 100%;
}

/*****************************************************************************/
/*------------------------------- Search bar --------------------------------*/
/*****************************************************************************/
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  scroll-behavior: smooth;
  padding: 30px 70px;
  overflow: auto;
}

.search {
  height: 35px;
  white-space: nowrap;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background-color: var(--header-bg-color);
  border-radius: 8px;
  width: 100%;
  padding-left: 20px;
}
.search form {
  display: flex;
}
.search div:not(:last-of-type) {
  border-right: 1px solid var(--search-border-color);
}
.search__bar {
  height: 35px;
  width: 100%;
  position: relative;
}
.search__bar input {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  border: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%230162ff'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 0 50%;
  padding: 0 25px 0 35px;
  font-size: 15px;
}
.search__button {
  background-color: var(--active-color);
  height: 35px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  padding: 0 15px;
  border-radius: 0 8px 8px 0;
  color: var(--button-color);
  cursor: pointer;
  margin-left: auto;
}

/*****************************************************************************/
/*--------------------------------- Sidebar ---------------------------------*/
/*****************************************************************************/
.main {
  display: flex;
  flex-grow: 1;
  padding-top: 10px;
}
.main__search {
  width: 270px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 0;
}
.main__search .search-buttons {
  font-size: 14px;
  margin-top: 20px;
}
.main__search-category {
  margin-top: 20px;
  background: var(--header-bg-color);
  padding: 10px;
  border-radius: 10px;
}
.main__search-category-title {
  padding-bottom: 10px;
  font-weight: 500;
}
.main__search-category-title:not(:first-child) {
  margin-top: 20px;
}
.main__search-category-container {
  display: flex;
  align-items: center;
  color: var(--subtitle-color);
  font-size: 13px;
}
.main__search-category-container label {
  margin-left: 2px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.main__search-category-container + .main__search-category-container {
  margin-top: 10px;
}
.main__search-category-container .category-number {
  margin-left: auto;
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
  border-radius: 4px;
}
.main__search-category-container .category-style {
  display: none;
}
.main__search-category-container .category-style + label:before {
  content: "";
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid var(--subtitle-color);
  border-radius: 4px;
  cursor: pointer;
}
.main__search-category-container .category-style:checked + label:before {
  background-color: var(--active-color);
  border-color: var(--active-color);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
  background-position: 50%;
  background-size: 14px;
  background-repeat: no-repeat;
}
.main__search-category-container .category-style:checked + label:before {
  background-color: var(--active-color);
  border-color: var(--active-color);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
  background-position: 50%;
  background-size: 14px;
  background-repeat: no-repeat;
}
.main__search-category-container .category-style:checked + label + span {
  background-color: var(--active-checked-color);
  color: var(--active-color);
}

/*****************************************************************************/
/*-------------------------------- Vacancies --------------------------------*/
/*****************************************************************************/
.vacancies {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 40px;
}
.vacancies__searched-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vacancies__searched-bar-sorting {
  display: flex;
  align-items: center;
}
.vacancies__searched-bar-sorting a {
  margin-top: 2px;
  margin-left: 10px;
}
.vacancies__searched-bar-general {
  font-size: 19px;
  font-weight: 600;
}
.vacancies__searched-bar-sort {
  font-size: 14px;
  color: var(--subtitle-color);
  display: flex;
  align-items: center;
}
.vacancies__searched-bar-sort-name {
  font-weight: 600;
  color: var(--subtitle-color);
}
.vacancies__searched-bar-sort-text {
  padding-right: 15px;
}
.vacancies__searched-bar-sort-icon {
  font-size: 9px;
  color: var(--placeholder-color);
  margin-left: 6px;
}
.vacancies__searched-bar-sort-select {
  visibility: hidden;
}
.vacancies__searched-bar-sort-select input {
  background-color: var(--header-bg-color);
}
.vacancies__searched-bar-sort .ddl {
  position: relative;
  height: 36px;
  width: 300px;
  text-align: initial;
}
.vacancies__searched-bar-sort .ddl::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  width: 12px;
  height: 2px;
  background: #555;
  z-index: 1;
  transform: rotate(-40deg);
  transition: 0.5s;
}
.vacancies__searched-bar-sort .ddl::before {
  content: "";
  position: absolute;
  top: 18px;
  right: 28px;
  width: 12px;
  height: 2px;
  background: #555;
  z-index: 1;
  transform: rotate(40deg);
  transition: 0.5s;
}
.vacancies__searched-bar-sort .ddl.active::after {
  right: 28px;
}
.vacancies__searched-bar-sort .ddl.active::before {
  right: 20px;
}
.vacancies__searched-bar-sort .ddl-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
  background: var(--header-bg-color);
  border: 1px solid var(--header-bg-color);
}
.vacancies__searched-bar-sort .ddl.active .ddl-options {
  visibility: visible;
  opacity: 1;
}
.vacancies__searched-bar-sort .ddl .ddl-options {
  position: absolute;
  width: 100%;
  top: 45px;
  background: var(--theme-bg-color);
  border-radius: 10px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.25s;
  z-index: 999;
  border: 1px solid var(--header-bg-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.vacancies__searched-bar-sort .ddl .ddl-options > div {
  padding: 10px 20px;
  cursor: pointer;
}
.vacancies__searched-bar-sort .ddl .ddl-options > div:hover {
  background: var(--bs-primary);
  color: var(--body-color);
}

.vacancies-cards {
  padding-top: 20px;
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.vacancies-cards__card {
  padding: 20px 16px;
  background-color: var(--header-bg-color);
  border-radius: 8px;
  transition: 0.2s;
}
.vacancies-cards__card-userinfo {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.vacancies-cards__card-userinfo-image {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 6px;
  shape-outside: ellipse();
}
.vacancies-cards__card-userinfo-image img {
  width: auto;
}
.vacancies-cards__card-userinfo a:last-child {
  margin-left: 8px;
  opacity: 0.7;
}
.vacancies-cards__card-header {
  padding-top: 10px;
  opacity: 0.5;
}
.vacancies-cards__card-title {
  display: flex;
  justify-content: space-between;
}
.vacancies-cards__card-title span {
  font-weight: 600;
  font-size: 25px;
}
.vacancies-cards__card-title span > span {
  color: var(--level-button);
  font-size: 18px;
}
.vacancies-cards__card-title div span {
  font-size: 15px;
  font-weight: 400;
}
.vacancies-cards__card-title div i {
  margin-left: 10px;
}
.vacancies-cards__card-subtitle {
  opacity: 0.9;
  font-size: 13px;
  margin-top: 14px;
  line-height: 1.6em;
}
.vacancies-cards__card-buttons {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  margin-top: 4px;
}
.vacancies-cards__card-buttons-header {
  margin-top: 20px;
}
.vacancies-cards__card-buttons a:first-child {
  width: 33%;
}
.vacancies-cards__card-buttons button, .vacancies-cards__card-buttons a {
  font-size: 15px;
}
.vacancies-cards__card-company-info {
  opacity: 0.8;
  color: var(--subtitle-color);
  font-weight: 400;
  font-size: 13px;
  margin: 13px 0 0 10px;
}

/*****************************************************************************/
/*------------------------------ Like animation -----------------------------*/
/*****************************************************************************/
@keyframes scale-up {
  50% {
    transform: scale(1.1);
  }
}
.like-hide {
  display: none;
}
.like-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  fill: #ff6e6f;
}
.like-icon__asset {
  display: block;
  width: 100%;
  height: 100%;
}
.like-icon--heart {
  cursor: pointer;
  transform: translateZ(0);
  transition: 0.2s ease-in-out transform;
}
.like-icon--heart__stroke {
  fill: #ff6e6f;
  opacity: 1;
  transform: translateZ(0);
  transition: 0.2s ease-in-out opacity;
}
.like-icon--heart__fill {
  fill: #ff6e6f;
  opacity: 0;
  transform: translateZ(0);
  transition: 0.2s ease-in-out opacity;
}
.like-icon--heart:hover {
  transform: scale(1.1) translateZ(0);
}
.like-icon--heart.is-active {
  animation: scale-up 0.25s cubic-bezier(0.77, -0.19, 0.33, 1.12);
}
.like-icon--heart.is-active .like-icon--heart__stroke {
  opacity: 0;
}
.like-icon--heart.is-active .like-icon--heart__fill {
  opacity: 1;
}

/*****************************************************************************/
/*------------------------------ Card details -------------------------------*/
/*****************************************************************************/
.card-details {
  background-color: var(--header-bg-color);
  padding: 20px 50px;
  border-radius: 5px;
  min-width: 100%;
  display: flex;
  overflow-x: hidden;
}
.card-details__language p {
  margin: 5px 0 !important;
}
.card-details__language p a {
  margin: 20px !important;
}
.card-details .profile-tags {
  margin-bottom: 15px;
}
.card-details .profile-tags ul {
  list-style: inside !important;
}
.card-details__vacancies {
  margin-bottom: 20px;
}
.card-details__vacancies h3 {
  margin-bottom: 10px;
}
.card-details__vacancies div {
  margin: 20px 0 0 110px;
}
.card-details__vacancies div a {
  color: #fff !important;
}
.card-details__info {
  min-width: 25%;
  margin-top: 50px;
  min-height: 300px;
  max-height: 100%;
  border: 1px solid rgb(189, 188, 188);
  border-radius: 5px;
  background-color: var(--header-bg-color);
  margin-left: 20px;
}
.card-details__info .footer__social-links {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card-details__info .footer__social-links ul li {
  margin-top: 10px;
}
.card-details__info .footer__social-links ul li a {
  background-color: var(--theme-bg-color);
}
.card-details__info h2 {
  padding: 15px 20px;
  border-bottom: 1px solid rgb(189, 188, 188);
  color: var(--level-button);
  font-weight: 700;
}
.card-details__info p {
  opacity: 0.8;
  padding: 5px 20px;
}
.card-details__info i {
  padding-right: 3px;
}
.card-details__info .close {
  color: rgba(255, 28, 0, 0.6784313725);
}
.card-details__info .ok {
  color: rgba(17, 225, 100, 0.8941176471);
}
.card-details__header {
  display: flex;
  align-items: center;
}
.card-details__header h1 {
  font-size: 32px;
}
.card-details__header a {
  font-size: 20px !important;
}
.card-details__header span {
  margin-left: 20px;
  font-size: 25px;
  color: var(--level-button);
}
.card-details .employer-header {
  display: block;
}
.card-details .employer-header h1 {
  margin-bottom: -25px;
}
.card-details a {
  color: var(--active-color);
  font-size: 16px;
}
.card-details h3 {
  opacity: 0.7;
}
.card-details__body {
  margin-top: 10px;
  opacity: 0.9;
}
.card-details__body-profile-image {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 105px;
  height: 105px;
  margin: 15px 20px 0 0;
  float: left;
  shape-outside: ellipse();
}
.card-details__body-profile-image img {
  width: auto;
}
.card-details__body p {
  font-size: 16px;
}
.card-details__body br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 60%;
  outline: red;
}
.card-details ul, .card-details ol {
  list-style: none;
}
.card-details p {
  margin: 10px 0;
}
.card-details__company {
  margin: 20px 0;
}
.card-details__footer {
  margin: 20px 0;
  opacity: 0.7;
}
.card-details__footer i {
  padding-right: 7px;
}
.card-details__buttons {
  margin-top: 20px;
}
.card-details__buttons button, .card-details__buttons a {
  width: 40%;
  font-size: 14px;
  transition: opacity 0.2s ease;
}
.card-details__buttons button:hover, .card-details__buttons a:hover {
  opacity: 0.8;
}
.card-details__buttons button a {
  display: block;
  width: 100%;
  height: 100%;
}
.card-details__buttons a {
  color: #fff;
}

/*****************************************************************************/
/*--------------------------------- Profile ---------------------------------*/
/*****************************************************************************/
.profile {
  background-color: var(--header-bg-color);
  padding: 20px 50px;
  border-radius: 5px;
  display: flex;
}
.profile-details {
  width: 100%;
  border: 1px solid rgb(189, 188, 188);
  margin-left: 50px;
  border-radius: 5px;
}
.profile-details h2 {
  padding: 15px 10px;
  border-bottom: 1px solid rgb(189, 188, 188);
}
.profile-details p {
  padding: 5px 15px;
}

/*****************************************************************************/
/*------------------------------- Pagination---------------------------------*/
/*****************************************************************************/
.pagination {
  background: var(--header-bg-color);
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.2s ease;
  margin-top: 50px;
}
.pagination li {
  list-style: none;
  line-height: 50px;
  margin: 0 5px;
}
.pagination li.pagination-item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.pagination li.pagination-item a {
  transition: all 0.1s ease;
  font-size: 14px;
}
.pagination li.pagination-item:hover a, .pagination li.pagination-item.active a {
  background: var(--active-color);
  color: #fff;
}
.pagination li a {
  display: block;
  text-decoration: none;
  color: var(--body-color);
  font-weight: 600;
  border-radius: 50%;
}
.pagination li:first-child {
  margin-right: 30px;
  font-weight: 700;
  font-size: 20px;
}
.pagination li:last-child {
  margin-left: 30px;
  font-weight: 700;
  font-size: 20px;
  display: flex;
}

/*****************************************************************************/
/*------------------------------- Main styles -------------------------------*/
/*****************************************************************************/
.all-employer-vacancies {
  background-color: var(--header-bg-color);
  padding: 20px 30px;
  border-radius: 5px;
  width: 100%;
}
.all-employer-vacancies__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-employer-vacancies__header .search {
  width: 40%;
  background-color: var(--theme-bg-color);
}
.all-employer-vacancies__header .search form {
  width: 100%;
}
.all-employer-vacancies__header .ddl-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 20px;
  outline: none;
  background: var(--theme-bg-color);
  border: 1px solid var(--theme-bg-color);
}
.all-employer-vacancies__header .vacancies__searched-bar-sort {
  font-size: 14px;
  color: var(--subtitle-color);
  display: flex;
  align-items: center;
}
.all-employer-vacancies__header .vacancies__searched-bar-sort-name {
  font-weight: 600;
  color: var(--subtitle-color);
}
.all-employer-vacancies__header .vacancies__searched-bar-sort-select {
  visibility: hidden;
}
.all-employer-vacancies__header .vacancies__searched-bar-sort-select input {
  background-color: var(--theme-bg-color) !important;
}
.all-employer-vacancies__buttons {
  margin: 20px 0 50px 0;
}
.all-employer-vacancies__buttons a {
  padding: 10px 20px;
  transition: background-color 0.2s ease;
}
.all-employer-vacancies__buttons a:hover {
  background-color: var(--theme-bg-color);
}
.all-employer-vacancies__vacancy {
  margin-bottom: 30px !important;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--theme-bg-color);
}
.all-employer-vacancies__vacancy a {
  color: var(--active-color);
  transition: all 0.2s ease;
}
.all-employer-vacancies__vacancy a:hover {
  color: rgba(105, 90, 166, 0.68);
}
.all-employer-vacancies__vacancy-main {
  margin-top: 3px;
  display: flex;
  align-items: center;
}
.all-employer-vacancies__vacancy-main span {
  font-size: 20px;
  padding: 0 10px;
  color: var(--body-color);
}

.vacancies__searched-bar-sort .search-buttons {
  margin: 0 0 0 20px;
}

.create-form {
  background-color: var(--header-bg-color);
  padding: 20px 50px;
  border-radius: 5px;
  width: 100%;
}
.create-form__header h1 {
  margin-bottom: 30px;
}
.create-form__header a {
  margin: 15px 15px 15px 0;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--active-color);
}
.create-form h1 {
  text-align: center;
}
.create-form .vacancies-cards__card-buttons input {
  font-size: 16px;
}
.create-form form {
  margin-top: 20px;
}
.create-form form .trumbowyg-box {
  border: none;
  margin: -10px 0 0 0;
}
.create-form form .trumbowyg-box svg {
  color: var(--body-color);
  fill: var(--body-color);
}
.create-form form .trumbowyg-button-pane {
  background-color: var(--theme-bg-color);
  color: var(--placeholder-color);
  border-bottom: none;
}
.create-form form .trumbowyg-button-pane::after {
  width: 0;
}
.create-form form .trumbowyg-button-pane button:hover {
  background-color: var(--header-bg-color);
}
.create-form form .trumbowyg-button-group::after {
  width: 0;
}
.create-form form .trumbowyg-editor {
  background-color: var(--theme-bg-color);
  color: var(--placeholder-color);
  border-radius: 0 0 7px 7px;
}
.create-form form .trumbowyg-editor::before {
  width: 0;
}
.create-form form fieldset {
  border: none;
  display: block;
  padding: 0.5em 0;
  margin: 0;
}
.create-form form fieldset ul {
  list-style: none;
}
.create-form form fieldset legend {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  margin: 0.5rem auto 0;
  width: 100%;
  display: block;
  padding: 0;
}
.create-form form fieldset .create-form__item-checkbox,
.create-form form fieldset .create-form__item-radio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.2s ease;
  width: 100%;
  margin: 1em auto;
  padding: 0;
  gap: 1.25em;
}
.create-form form fieldset .create-form__item-checkbox li,
.create-form form fieldset .create-form__item-radio li {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin: 0;
}
.create-form form input[type=checkbox] {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  transition: all 150ms;
  user-select: none;
  cursor: pointer;
}
.create-form form input[type=checkbox]:focus, .create-form form input[type=checkbox]:hover, .create-form form input[type=checkbox]:active {
  outline: 0;
  outline-offset: 0;
}
.create-form form input[type=checkbox] ~ label {
  cursor: pointer;
  transition: all 150ms;
  user-select: none;
  font-weight: 400;
  line-height: 1;
  height: 1.125em;
  vertical-align: baseline;
  display: block;
  width: 100%;
}
.create-form form input[type=checkbox] ~ label::before {
  cursor: pointer;
  transition: all 150ms;
  user-select: none;
  content: "";
  display: inline-block;
  width: 1.125em;
  height: 1.125em;
  background-color: #EBEBEB;
  border-radius: 0.25em;
  vertical-align: middle;
  line-height: 1;
  margin: -0.125em 0.5em 0 0;
  border: 2px solid #BFBFBF;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0.9em 0.9em;
  transform: scale3d(1, 1, 1);
}
.create-form form input[type=checkbox]:hover ~ label::before {
  background-color: #d2d2d2;
  border-color: #a6a6a6;
}
.create-form form input[type=checkbox]:focus ~ label::before {
  background-color: #c5c5c5;
  border-color: #695aa6;
  outline: 4px solid rgba(105, 90, 166, 0.25);
}
.create-form form input[type=checkbox]:active ~ label::before {
  background-color: #b8b8b8;
  border-color: #8c8c8c;
  transform: scale3d(0.95, 0.95, 1);
}
.create-form form input[type=checkbox]:checked ~ label::before {
  border-color: #5e5196;
  background-color: #695aa6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ffffff'%3E%3Cpolygon points='9 21 1 13 4 10 9 15 21 3 24 6 9 21' fill='%23ffffff'%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 0.9em 0.9em;
}
.create-form form input[type=checkbox]:checked:hover ~ label::before {
  background-color: #544885;
  border-color: #493f75;
}
.create-form form input[type=checkbox]:checked:focus ~ label::before {
  background-color: #493f75;
  border-color: #695aa6;
  outline: 4px solid rgba(105, 90, 166, 0.25);
}
.create-form form input[type=checkbox]:checked:active ~ label::before {
  background-color: #3f3664;
  border-color: #352d53;
}
.create-form form input[type=radio] {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  transition: all 150ms;
  user-select: none;
  cursor: pointer;
}
.create-form form input[type=radio] ~ label {
  cursor: pointer;
  transition: all 150ms;
  user-select: none;
  font-weight: 400;
  line-height: 1;
  height: 1.125em;
  vertical-align: baseline;
  display: block;
  width: 100%;
}
.create-form form input[type=radio] ~ label::before {
  cursor: pointer;
  transition: all 150ms;
  user-select: none;
  content: "";
  display: inline-block;
  width: 1.125em;
  height: 1.125em;
  background-color: #EBEBEB;
  border-radius: 2em;
  vertical-align: middle;
  line-height: 1;
  margin: -0.125em 0.5em 0 0;
  border: 2px solid #BFBFBF;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 0.9em 0.9em;
  transform: scale3d(1, 1, 1);
}
.create-form form input[type=radio]:hover ~ label::before {
  background-color: #d2d2d2;
  border-color: #a6a6a6;
}
.create-form form input[type=radio]:focus ~ label::before {
  background-color: #c5c5c5;
  border-color: #695aa6;
  outline: 4px solid rgba(105, 90, 166, 0.25);
}
.create-form form input[type=radio]:active ~ label::before {
  background-color: #b8b8b8;
  border-color: #8c8c8c;
  transform: scale3d(0.95, 0.95, 1);
}
.create-form form input[type=radio]:checked ~ label::before {
  border-color: #5e5196;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%236000ff'%3E%3Cpath d='M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,17a5,5,0,1,1,5-5A5.006,5.006,0,0,1,12,17Z' fill='%236000ff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.2em;
}
.create-form form input[type=radio]:checked:hover ~ label::before {
  background-color: #cccccc;
  border-color: #493f75;
}
.create-form form input[type=radio]:checked:focus ~ label::before {
  background-color: #bfbfbf;
  border-color: #695aa6;
  outline: 4px solid rgba(105, 90, 166, 0.25);
}
.create-form form input[type=radio]:checked:active ~ label::before {
  background-color: #b3b3b3;
  border-color: #352d53;
}
.create-form .keywords {
  margin-top: 20px;
}
.create-form__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
}
.create-form__item-keywords {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.create-form__item-keywords .tag {
  background-color: var(--active-checked-color);
  color: var(--active-color);
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}
.create-form__item-keywords .fa-solid {
  margin-left: 5px;
  color: var(--active-color);
  font-size: 14px;
  cursor: pointer;
}
.create-form__item label {
  font-size: 16px;
  font-weight: 500;
}
.create-form__item input, .create-form__item textarea, .create-form__item option, .create-form__item select, .create-form__item ul input {
  width: 100%;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  background-color: var(--theme-bg-color);
  color: var(--placeholder-color);
}
.create-form__item select {
  border-right: 16px solid transparent;
  cursor: pointer;
}
.create-form__item textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
}

.all-vacancies-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.validation-summary-errors ul {
  list-style: none;
  margin-bottom: 30px;
  border: 1px solid #dedede;
  background-color: var(--theme-bg-color);
  color: var(--text-valication-color);
  padding: 10px;
}

.field-validation-error {
  color: var(--text-valication-color);
  margin-top: 5px;
}

.after-long-description-validation {
  margin-top: 20px;
}

/*****************************************************************************/
/*------------------------------- Notification ------------------------------*/
/*****************************************************************************/
.notyf__wrapper .notyf__icon i {
  color: #fff !important;
}
.notyf__wrapper .notyf__message {
  font-family: var(--font-family-monospace) !important;
  font-size: 16px !important;
}

.footer__social-links {
  list-style: none;
  display: flex;
  font-size: 1rem;
}
.footer__social-links li {
  padding-right: 1.5rem;
  padding-top: 5px;
}
.footer__social-links li:last-child {
  padding-right: 0;
}
.footer__social-links li a {
  background-color: var(--theme-bg-color);
  display: flex;
  width: 50px;
  min-height: 50px;
  border-radius: 25px;
  line-height: 25px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
.footer__social-links li a:hover {
  background-color: #695aa6;
  color: #fff;
}

/*****************************************************************************/
/*-------------------------- Chat  Details Design ---------------------------*/
/*****************************************************************************/
.chat-details-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  background-color: var(--header-bg-color);
  padding: 40px;
}
.chat-details-wrapper__header {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
}
.chat-details-wrapper__header .chat-details-wrapper-inner {
  display: flex;
}
.chat-details-wrapper__header::after {
  content: "";
  display: block;
  width: calc(100% + 80px);
  margin-left: -40px;
  margin-top: 20px;
  opacity: 0.2;
  background-color: var(--body-color);
  height: 1px;
}
.chat-details-wrapper__header-image {
  width: 50px;
  display: flex;
}
.chat-details-wrapper__header-info {
  margin-left: 20px;
  color: var(--body-color);
}
.chat-details-wrapper__header-info h3 {
  font-weight: 700;
}
.chat-details-wrapper__header-info h3 span::after {
  content: "";
  display: inline-flex;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #0f0;
}
.chat-details-wrapper__header-info p {
  font-weight: 300;
}
.chat-details-wrapper__body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.chat-details-wrapper__body-message {
  margin: 15px 0;
  display: flex;
  max-width: 500px;
}
.chat-details-wrapper__body-message.message-own {
  position: relative;
  display: flex;
  margin-left: auto;
}
.chat-details-wrapper__body-message.message-own p {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 15px;
  background: #4b7bec;
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 0;
}
.chat-details-wrapper__body-message.message-not-my {
  display: flex;
  position: relative;
  width: 100%;
}
.chat-details-wrapper__body-message.message-not-my p {
  color: #000;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 15px;
  background: #f5f5f5;
  display: inline-block;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 0;
}
.chat-details-wrapper__footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}
.chat-details-wrapper__footer::before {
  content: "";
  display: block;
  width: calc(100% + 80px);
  margin-left: -40px;
  height: 1px;
  margin-bottom: 20px;
  opacity: 0.2;
  background-color: var(--body-color);
}
.chat-details-wrapper__footer form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.chat-details-wrapper__footer input[type=text] {
  display: flex;
  width: 70%;
  padding: 7px 13px;
  border-radius: 5px;
  border: 1px solid var(--theme-bg-color);
  color: var(--placeholder-color);
  background-color: var(--theme-bg-color);
}
.chat-details-wrapper__footer button {
  width: 25%;
  background-color: #3867d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.chat-details-wrapper__footer button i {
  padding-right: 10px;
}

/*****************************************************************************/
/*------------------------------- Model Window ------------------------------*/
/*****************************************************************************/
.modal-window {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%) scale(0.9);
  width: 520px;
  max-width: 95%;
  min-height: 200px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.18s ease-in-out;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.modal-window__inner {
  margin-top: 30px !important;
}
.modal-window.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
.modal-window__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 100%;
  min-height: inherit;
  text-align: center;
}
.modal-window a {
  margin-top: 10px;
}
.modal-window__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.modal-window__backdrop.hidden {
  display: none;
}

/*****************************************************************************/
/*------------------------------- Chat Design -------------------------------*/
/*****************************************************************************/
.chat-wrapper {
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  display: flex;
  padding: 40px;
  background-color: var(--header-bg-color);
}
.chat-wrapper .char-wrapper__chats-chat-inner-wrapper {
  display: flex;
  flex-direction: row;
}
.chat-wrapper__chats {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chat-wrapper__chats-chat {
  background: var(--theme-bg-color);
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.2s ease;
}
.chat-wrapper__chats-chat:hover {
  background-color: rgba(203, 203, 203, 0.3);
}
.chat-wrapper__chats-chat .chat-remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--danger-btn-color);
  opacity: 0.6;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.chat-wrapper__chats-chat .chat-remove-btn i {
  color: #fff;
}
.chat-wrapper__chats-chat .chat-remove-btn:hover {
  opacity: 0.9;
}
.chat-wrapper__chats-chat-main img {
  display: flex;
  width: 50px;
}
.chat-wrapper__chats-chat-info {
  margin-left: 20px;
  color: var(--body-color);
}
.chat-wrapper__chats-chat-info h3 {
  font-weight: 700;
}
.chat-wrapper__chats-chat-info h3 span::after {
  content: "";
  display: inline-flex;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #0f0;
}
.chat-wrapper__chats-chat-info p {
  font-weight: 300;
}

/*****************************************************************************/
/*---------------------------------- Media ----------------------------------*/
/*****************************************************************************/
@media screen and (max-width: 930px) {
  .search__bar {
    width: auto;
  }
}
@media screen and (max-width: 760px) {
  .header__settings-profile {
    margin-right: 0;
  }
  .header__settings-name {
    display: none;
  }
}
@media screen and (max-width: 730px) {
  .main__search {
    display: none;
  }
  .vacancies {
    padding-left: 0;
  }
  .search div:not(:last-of-type) {
    border: 0;
  }
}
@media screen and (max-width: 620px) {
  .vacancies-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__menu a:not(:first-child) {
    margin-left: 10px;
  }
}
@media screen and (max-width: 590px) {
  .header__menu {
    display: none;
  }
  .wrapper {
    padding: 40px;
  }
}
@media screen and (max-width: 520px) {
  .search__bar {
    flex-grow: 1;
  }
  .search__bar input {
    padding: 0 0 0 30px;
  }
  .search__button {
    margin-left: 16px;
  }
  .vacancies__searched-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .vacancies__searched-bar-sort {
    margin-top: 5px;
  }
  .main {
    padding-top: 20px;
  }
}
@media screen and (max-width: 380px) {
  .wrapper {
    padding: 20px;
  }
  .header {
    padding: 0 20px;
  }
}

/*# sourceMappingURL=main.css.map */
