@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalization

@{
    ViewData["Title"] = ViewLocalization["Title"];
}

@section Styles
{
    <link rel="stylesheet" href="~/css/home_pages.css">
}

<section class="section confirm-email-result form-section">
    @if (ViewData.ModelState.ErrorCount != 0)
    {
        <div asp-validation-summary="All"></div>
    }
    else
    {
        <h1>@ViewLocalization["Message"]</h1>
    }
</section>

@section Scripts
{
    <script src="~/libs/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
}