@{
    ViewData["Title"] = "Підтвердження email";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/home_pages.css">
}


<section class="section confirm-email form-section">
    <h1>Перейдіть до своєї почти та перейдіть по посиланню.</h1>
</section>

@section Scripts
{
    <script src="~/libs/js/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="~/libs/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
}