@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalization

@{
    ViewData["Title"] = ViewLocalization["Title"];
}

<section class="section confirm-email form-section">
    <h1>@ViewLocalization["Message"]</h1>
</section>