@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer ViewLocalization

@{
    ViewData["Title"] = ViewLocalization["Title"];
}

@section Styles
{
    <link rel="stylesheet" href="~/css/home_pages.css">
}

<section class="section reset-password-result form-section">
    <h1 class="section-title mb-5">@ViewLocalization["Message"]</h1>
</section>

@section Scripts
{
    <script src="~/libs/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
}