@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Відновлення паролю";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/home_pages.css">
}

@* <form method="post" asp-controller="Auth" asp-action="ResetPassword" asp-antiforgery="true" autocomplete="off"> *@
@*     <div asp-validation-summary="All"></div> *@
@*     <input asp-for="Token" type="hidden"> *@
@*     <input asp-for="Email" type="hidden"> *@
@*     <div> *@
@*         <label asp-for="NewPassword"></label> *@
@*         <input asp-for="NewPassword"> *@
@*         <span asp-validation-for="NewPassword"></span> *@
@*     </div> *@
@*     <div> *@
@*         <label asp-for="ConfirmNewPassword"></label> *@
@*         <input asp-for="ConfirmNewPassword"> *@
@*         <span asp-validation-for="ConfirmNewPassword"></span> *@
@*     </div> *@
@*     <input type="submit" value="Reset password"> *@
@* </form> *@

<section class="section reset-password form-section">
    <div class="container text-center">
        <h2 class="section-title mb-5">Відновлення паролю</h2>
        <form method="post" asp-controller="Auth" asp-action="ResetPassword" asp-antiforgery="true" autocomplete="off">
            <div asp-validation-summary="All"></div>
            <input asp-for="Token" type="hidden">
            <input asp-for="Email" type="hidden">
            <div class="contact-form__input">
                <input asp-for="NewPassword" placeholder="New password" class="contact-form__input-item">
            </div>
            <div class="contact-form__input">
                <input asp-for="ConfirmNewPassword" placeholder="Confirm new password" class="contact-form__input-item">
            </div>
            
            <div class="contact-form__btn">
                <button class="button button-primary text-center">
                    <i class="fa-solid fa-bookmark"></i>
                    Зареєструватись
                </button>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    <script src="~/libs/js/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="~/libs/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
}