@{
    ViewData["Title"] = "Відновлення паролю";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/home_pages.css">
}

<section class="section reset-password-result form-section">
    <h1 class="section-title mb-5">Ваш пароль успішно змінено. Всі дані відправлено на ваш email.</h1>
</section>

@section Scripts
{
    <script src="~/libs/js/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="~/libs/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
}